:root {
    --color-black: black;
    --color-white: white;
    --color-red: red;
    --color-gray: gray;
    --color-orange-danger: #DB6E00;
    --color-off-black: #313131;
   --color-shadow-mountain: #595959;
   --color-studio: #6F489E;
   --color-cheese-powder: #FFE5BF;
  }